<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499992249808-d3fpb29s703ckudialguenuueauj0kbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499992249808-d3fpb29s703ckudialguenuueauj0kbo</string>
	<key>API_KEY</key>
	<string>AIzaSyCM1OKoG1AkpEjbbuufWjH9HnyOZfvAxls</string>
	<key>GCM_SENDER_ID</key>
	<string>499992249808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.apside.fneRipisylves</string>
	<key>PROJECT_ID</key>
	<string>fne-ripisylves</string>
	<key>STORAGE_BUCKET</key>
	<string>fne-ripisylves.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499992249808:ios:0071e80cb91dc250a965d5</string>
</dict>
</plist>